
.custom_btn {

    font-family: 'Fira Sans', sans-serif;
    background-color: cadetblue;
    color:black;
    padding: 5px 10px;
    text-decoration: none;
    border: black solid 2px;
    border-radius: 25px;
    margin: 10px
}

.custom_btn:hover {
    background-color: #408090;
    border: grey solid 2px;
}

.btn_white {

  font-family: 'Fira Sans', sans-serif;
  background-color: white;
  color:black;
  padding: 5px 25px;
  text-decoration: none;
  border: black solid 2px;
  border-radius: 25px;
  margin: 10px 30px
}

.btn_white:hover {
  background-color: lightgrey;
  
}

.delete_btn {

  font-family: 'Fira Sans', sans-serif;
  background-color: white;
  color:black;
  padding: 5px 20px;
  text-decoration: none;
  border: black solid 2px;
  border-radius: 25px;
  margin: 120px 10px;

}

.delete_btn:hover {

  background-color: red;

}

.header_delete_btn {

  font-family: 'Fira Sans', sans-serif;
  color:black;
  padding: 5px 20px;
  text-decoration: none;
  border: black solid 2px;
  border-radius: 25px;

}

.header_delete_btn:hover {

  background-color: red;

}
/* Settings for choice inspired by: https://www.filamentgroup.com/lab/select-css.html */
.choice {
  display: block;
	font-size: 15px;
	font-weight: 699;
	color: #443;
	line-height: 0.3;
	padding: .5em 1.4em .5em .8em;
	width: 80%;
	max-width: 80%;
	box-sizing: border-box;
  margin: 9px;
	border: 0px solid #aaa;
	box-shadow: -1 1px 0 1px rgba(0,0,0,.04);
	border-radius: .4em;

}

.edit_choice {

  width: 60%;
  max-width: 70;

}

.tag_colour_choice {
  width: 30%;
  max-width: 30%;
}

.new_tag_colour {
  width: 90%;
  max-width: 90%;
}
/* Scrollbar settings */
  /* width */
::-webkit-scrollbar {
    width: 9px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f0f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: cadetblue;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #408090;
  } 

.active_ch_label {

  margin-left: 30px
}

.active_check {

  margin-top:15px
}

.input_date {
  
  display: block;
	font-size: 15px;
	font-weight: 699;
	color: #443;
	padding: .5em 1.4em .5em .8em;
	width: 90%;
	max-width: 90%;
	box-sizing: border-box;
  margin: 9px;
	border: 0px solid #aaa;
	border-radius: .4em;

}

.amount_in {
  background-color: white;
	font-size: 15px;
	font-weight: 699;
	color: #443;
	padding: .5em 1.4em .5em .8em;
	box-sizing: border-box;
  margin: 9px;
	border: 0px solid #aaa;
	border-radius: .4em;
}

.amount_in > input {
  border: none; 
	font-size: 15px;
	font-weight: 699;
	color: #443;
  margin: 9px;
}