body {
    background-color: white;
    margin: 0px;
    height: 100vh;
}

main {
    display:flex;
    justify-content: space-evenly;
    /* min-height: calc(100vh - 115px); */

}

header {
    display: grid;
    grid-template-columns: 9fr 1fr;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.primary_colour {
    background-color: cadetblue;
}
#header_main {
    font-size: xx-large;
    margin-left: 16px;
}

#header_zero {

    font-size: xx-large;
    margin-left: 16px;
    font-family: 'Fira Code', monospace;
}

#logo {
    grid-column-start: 1;
}

.styled_link {
    text-decoration: none;
    color: black;
}

nav {
    grid-column-start: 2;
    vertical-align:middle;
    padding-top: 15px;
}

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Spectral SC', serif;
}


.transactions_panel {

    display: block;
    font-family: 'Fira Sans', sans-serif;
    height: fit-content;
    margin: 50px 30px 50px 30px;
    overflow-x:hidden;
    overflow-y: auto;
    box-shadow: 5px 5px lightgray;
}

.left_panel {

    flex-grow: 1;
}

.right_panel {
    flex-grow:1;
    max-width: 200px;
}

.player_title {
    margin: 10px;
}
.form_subhead {
    margin-bottom: 5px;
    margin-left: 10px;
}
#player_form_container  > form > label {
    margin: 10px;
}

.name_label {
    margin:10px;
}

.game_group {
    margin:10px;
}

.btn_container {
    text-align: center;
    padding: 20px;
}

.body_btn {
    padding: 5px 15px;
    margin: 10px;
}

.rules_box {
    font-family: 'Spectral', serif;
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

.result_button_container {

    display: flex;
    justify-content: center;
}

.results_reveal {
    display: flex;
    justify-content: space-around;
}

.intro_box {
    font-family: 'Spectral', serif;
    padding: 20;
}

.intro_head {
    font-size: xx-large;
    margin: 10px;
}

.intro_content {
    margin: 10px;
}
.caps {
    font-family: 'Spectral SC', serif;
}