body {
    background-color: white;
    margin: 0px;
    height: 100vh;
}

main {
    display:flex;
    justify-content: space-evenly;
    /* min-height: calc(100vh - 115px); */

}

header {
    display: flex;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.primary_colour {
    background-color: cadetblue;
}
#header_main {
    font-size: xx-large;
    margin-left: 16px;
}

#logo {
    font-family: 'Spectral', serif;
}

.styled_link {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
}

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Spectral SC', serif;
}


.transactions_panel {

    display: block;
    font-family: 'Fira Sans', sans-serif;
    height: fit-content;
    margin: 50px 30px 50px 30px;
    overflow-x:hidden;
    overflow-y: auto;
    box-shadow: 5px 5px lightgray;
}

.left_panel {

    flex-grow: 1;
}

.right_panel {
    flex-grow:1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:  20px;

}

.statblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.edit_transaction_box {

    display: flex;
    width: 50%;
    margin: 100px 20px;
    border-radius: 10px;
    padding: 10px;
    
}

.edit_item {

    margin: 20px;
}

.caps {
    font-family: 'Spectral SC', serif;
}