 .transaction_box {

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    text-align: left;
    padding: 10px;
    margin: 5px 100px;
    border-radius: 10px;
 }

 .transaction_container {
    flex-grow: 4;
    height: 70vh;
    margin: 50px 50px 100px 50px;
    overflow-x:hidden;
    overflow-y: auto;
    background-color: white;

 }

 .list_date {
     flex-basis: 100px;
     flex-grow: 1;
     font-family: 'Fira Sans', sans-serif;
 }
 
 .list_name {
     flex-basis:100px;
     flex-grow: 1;
     font-family: 'Fira Sans', sans-serif;
 }

 .tag_spacer {
     flex-basis: 100px;
     text-align: left;
     flex-grow: 1;
 }

.taglabel {
    font-family: 'Fira Sans', sans-serif;
    font-size: x-small;
    padding: 5px;
    border-radius: 3px;
    text-align: left;
}

.amount {
    flex-grow: 1;
    text-align: right;
}



.list_link_dedecorate {
    text-decoration: none;
    color: inherit;
}

.new_trans_label {
    margin-top: 20px;
}

.statblock {
    border-radius: 5px;
}

.filter_group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;
}

.filter_group > a {
    margin: 5px;
}

.filter {

    font-size: small;
    border: solid black 1px;
    border-radius: 5px;
    padding: 3px;
}