{% extends 'base.html' %}

{% block content %}
<div class="transactions_panel left_panel primary_colour">
    <div class="filter_dropdowns">
        <div class="selector_group">
            <form action="/viewfilters/addtag" method="post">
                <label for="filter_tag_choice" class="name_label">Filter by Tag:</label>
                <span>
                    <select name="filter_tag_choice" class="choice" required>
                        {% for tag in tags %}
                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                        {% endfor %}
                    
                    </select>
                    <input type="submit" value="Filter" class="custom_btn">
                </span>
            </form>
        </div>
        <div class="selector_group">
            <form action="/viewfilters/addmerchant" method="post">
                <label for="filter_merchant_choice" class="name_label">Filter by Merchant:</label>
                <span>
                    <select name="filter_merchant_choice" class="choice" required>
                        {% for merchant in merchants %}
                            <option value="{{ merchant.id }}">{{ merchant.name }}</option>
                        {% endfor %}
                    
                    </select>
                    <input type="submit" value="Filter" class="custom_btn">
                </span>
            </form>
        </div>
    </div>

    <div class="filter_group">
        {% for tag in current_user.view_filter.tags %}
            <a href="/viewfilters/{{ tag.id }}/removetag" class="list_link_dedecorate">
                <span class="filter">{{ tag.name }} <i class="fas fa-backspace"></i></span></a>
        {% endfor %}
        {% for merchant in current_user.view_filter.merchants %}
            <a href="/viewfilters/{{ merchant.id }}/removemerchant" class="list_link_dedecorate">
                <span class="filter">{{ merchant.name }} <i class="fas fa-backspace"></i></span></a>
        {% endfor %}
    </div>
        {% if current_user.view_filter.filter_active %}
            <form action="/viewfilters/resetfilter">
                <input type="submit" class="custom_btn" value="Clear Filter">
            </form>
        {% endif %}
</div>

<div class="transaction_container">
    {% for transaction in transactions %}
        <a href="/transactions/{{ transaction.id }}/edit" class="list_link_dedecorate">
            <div class="transaction_box {{ transaction.tag.colour.name }}">
                <span class="list_date">{{ transaction.date.strftime('%d-%m-%Y') }}</span> 
                <span class="list_name">{{ transaction.merchant.name }}</span> 
                <span class="tag_spacer">
                    {% if transaction.tag.name != "Untagged" %}
                        <span class="taglabel">{{transaction.tag.name}}</span>
                    {% endif %}
                </span>
                <span class="amount">£{{transaction.amount }}</span></div>
        </a>
    {% endfor %}
</div>
<div class="transactions_panel right_panel primary_colour">
    <div class="statblock">
        <div class="stathead"><b>Budget: </b></div><div class="stat">£{{ current_user.budget }}</div>
    </div>
    <div class="statblock {% if current_user.remaining_budget <= 0 %}red{% endif %}">
        <div class="stathead">
            <b>Remaining: </b></div><div class="stat">£{{ current_user.remaining_budget }}</div>
    </div><br>
    <div class="statblock">
        <div class="stathead"><b>Total Selected: </b></div>
        <div class="stat">£{{ visible_total }}</div>
    </div>
    <div class="budget_form">
        <form action="/user/edit" method="POST">        
            <label for="amount" class="new_trans_label">New Budget Amount:</label><br>
            <span class="amount_in">£<input type="number" min="0.01" step="any" name="amount" id="amount" required></span>
            <div class="button_container">
                <input type="submit" value="Change Budget" class="custom_btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}
