{% extends 'base.html' %}

{% block content %}
<div class="transactions_panel left_panel primary_colour">
        <form action="/viewfilters/addtag" method="post">
            <label for="filter_tag_choice" class="name_label">Filter by Tag:</label>
            <span>
                <select name="filter_tag_choice" class="choice" required>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                
                </select>
                <input type="submit" value="Filter" class="custom_btn">
            </span>
        </form>
</div>


<div class="transaction_container">
    {% for transaction in transactions %}
        <a href="/transactions/{{ transaction.id }}/edit" class="list_link_dedecorate">
            <div class="transaction_box {{ transaction.tag.colour.name }}">
                <span class="list_date">{{ transaction.date }}</span> 
                <span class="list_name">{{ transaction.merchant.name }}</span> 
                <span class="tag_spacer">
                    {% if transaction.tag.name != "Untagged" %}
                        <span class="taglabel">{{transaction.tag.name}}</span>
                    {% endif %}
                </span>
                <span class="amount">£{{transaction.amount }}</span></div>
        </a>
    {% endfor %}
</div>
<div class="transactions_panel right_panel primary_colour"><h1>Stats</h1></div>
{% endblock %}
