{% extends 'base.html' %}

{% block content %}
<div class="player_form_container shrinkable_box">
    <h2 class="player_title"></h2>
    <p class="player_title">
        Score:}
    </p>
   }
        <form action="/submit" method="post">
            <input type="hidden" name="player" value="player1">
            <label for="p1_choice" class="name_label">Make Your Choice:</label>
            <select name="p1_choice" id="p1_choice" class="choice" required>
              }
                    <option value="{{ answer }}"></option>
              }
            </select>
            <input type="submit" value="Choose" class="custom_btn body_btn">
        </form>
   

</div>

<div class="transaction_container">
    {% for transaction in transactions %}
        <div class="transaction_box">{{ transaction.date }} {{ transaction.merchant.name }} {{transaction.amount }} {{transaction.tag.name}}</div>
    {% endfor %}
</div>
{% endblock %}
