<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='transactions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='controls.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tags.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tag_routes.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spectral+SC&family=Spectral:wght@400;500&display=swap" rel="stylesheet">  
    <title>Spend.io</title>
</head>
<body>
    <header class="primary_colour">
        <div id="logo"><a href="/" class="styled_link"><span id="header_main">Sp£nd.10</span></a></div>
       
        <nav><a href="/merchants" class="custom_btn">Manage Merchants</a>
        <a href="/tags" class="custom_btn">Manage Tags</a>
        <a href="/transactions" class="custom_btn">Add Transactions</a>
        <a href="/transactions" class="custom_btn">Reset Transactions</a>
        <a href="/transactions" class="custom_btn">View Transactions</a></nav>

    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer class="primary_colour">
        Sp£nd.10
    </footer>
</body>
</html>